body {
<<<<<<< HEAD
    background-color: pink;
    overflow-y: scroll;
    height: 100vh;
    height: fit-content;
=======
    background-color: white;
>>>>>>> origin/footer_interface
}

.header  {
    display: flex;

}

.top_row .top_left {
    display: inline flex  ;
    flex-direction: row;


    list-style: none;

}

.top_row .top_right {
    display: inline flex;
    flex-direction: row;
    justify-content: flex-end;

    list-style: none;

}


nav .top_left li {
    padding: 15px;
    margin: 5px;
    background-color: green;
    border: solid 3px;

    justify-content: flex-start;

}

nav .top_right li {
    padding: 15px;
    margin: 5px;
    background-color: green;
    border: solid 3px;

}

.sticky_header {
    position: sticky;
    top: 0;
    background-color: red;
    padding: 20px;
    border: solid 2px;
    display: block;
    margin: -8px;

}

.text_middle {
    display: flex;
    padding-bottom: 1000px;
    border: solid 3px;
    background-color: aquamarine;
    justify-content: center;
    align-items: flex-end;

} 

#logo {
    width: 75px;
    height: auto;
}

}*/


.footer_1 {
    position: sticky;
    text-align: center;
    width: 100%;
}

.footer_1_navbar {
    
}