<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_account.css">
    <title>Facebouf — Account</title>
</head>
<body>
    <div> 
        <div id="connect-text"> Se connecter </div>
        <br>
        Renseignez votre adresse mail Télécom SudParis.

        <div> 
            <input type="text" placeholder="Adresse mail TSP">
            <br>
            <input type="text" placeholder="Mot de passe"> 
            <br>
            <a href="account/login"> <button> Envoyer </button> </a> 
        </div>
    </div>
    

</body>
</html>