<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_homepage.css">
    <title>Facebouf</title>
</head>
<body>
    <h1>Facebouf</h1>

    <div id="button-banner">
        <ul id="buttons-row">
            <li>  <a href="/plats"><button> Plats </button></a> </li>

            <!-- These buttons are not necessary for now.

            <li> <button> FILLER BUTTON (temporary) </button> </li>
            <li> <button> FILLER BUTTON (temporary) </button> </li>

            -->

            <li id="account-button"> <a href="/account"> <button> Compte </button> </a> </li>
        </ul>    
    </div>


    <h2> Bienvenue sur Facebouf ! </h2>
    <h2> ➡️ Le site pour évaluer les plats du restaurant universitaire sur le 
        campus de Télécom SudParis (campus d'Évry)
    </h2> 
    <h2> ➡️ Réalisé par nous, des étudiants en première année à Télécom SudParis :
        <ul> 
            <li> Martin Kirilov-Lilov </li>
            <li> Paul Emptoz </li>
            <li> Lucas Charbonnier </li>
            <li> Loris Serieys </li>
        </ul>
    </h2>
    <h2> On espère que vous allez aimer le site ! ❤️ </h2> 

    <img src="TSP_abcde.jpg" id="TSP-abcde-front-page"> 
    
</body>
</html>