<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_plat.css">
    <title>Facebouf - Plats</title>
</head>
<body>
    <ul id="list-outside">
        <li>
            <ul class="list-inside"> 
                <li class="meal-titles"> ➡️ Plats principaux </li>
                <li class="food-image"> <img src="plat_default.jpg"> </li>
                <li class="food-description"> ➡️ Description : 
                    <ul>
                        

                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <ul class="list-inside">
                <li class="meal-titles"> ➡️ Entrées </li>
                <li class="food-image"> <img src="entree_default.jpg"> </li>
                <li class="food-description"> ➡️ Description : doit être remplie !
                    <ul></ul>

                </li>
            </ul>
        </li>

        <li> 
            <ul class="list-inside">
                <li class="meal-titles"> ➡️ Entrées </li>
                <li class="food-image"> <img src="dessert_default.jpg"> </li>
                <li class="food-description"> ➡️ Description : doit être remplie !
                    <ul></ul>
                </li>
            </ul>
        </li>
    </ul>
    
</body>
</html>