<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_plat.css">
    <title>Facebouf - Plats</title>
</head>
<body>
    <ul id="list-outside">
        <li>
            <ul class="list-inside"> 
                <li class="meal-titles"> ➡️ Plats </li>
                <li class="food-image"> <img src="plat_default.jpg"> </li>
                <li class="food-description"> ➡️ Description : les plats de la semaine
                    <ul>
                      <% meals[0].forEach(meal => { %>
                        <li> 
                            <%= meal.mealName %>
                            <%= meal.averageRating %>
                        </li>
                      <% }) %>
                    </ul>
                </li>
            </ul>
        </li>

        <!-- See later for adding desserts and entrées -->

        <li>
     
            <form action="/plats" method="POST"> <!-- action: specifies server endpoint, method: specifies what kind of request to issue  -->
                <textarea type="text" name="comment" placeholder="Laissez un commentaire">  </textarea> <!-- The 'email' field is the same as the user table's 'id' field -->
                <input type="text" name="meal" required placeholder="Type de plat"> <!-- Match the DB's 'pwd' column -->
                <br>
                <button>Envoyer</button>
            </form>



        </li>
    
  

    </ul>
    
</body>
</html>